/* Define some variables which are used throughout */
:root {
    --box-radius: 4px;
    --team-blue: rgb(147,149,152);
}

html{
    width: 100%;
}

.container-fluid {
    max-width: 1200px;
}

body{
    font-size: 12pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    letter-spacing: 0.04em;
    line-height: 19pt;
    width: 100%;
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-repeat: repeat-y;
}

.page-body {
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgba(255,255,255,1.0);
}
.home-page-body {
    background-color: rgba(246,246,246,1.0);
}

@media (min-width: 992px) {
    .row-margins {
        margin-left: 14px;
        margin-right: 14px;
    }
}

.masthead{
    padding-top: 15px;
    padding-bottom: 15px; 
}
.masthead #liger-head {
    width: 20%;
} 
.masthead #liger-text {
    width: 80%;
    vertical-align: top;
} 

/*--------------- Header ---------------*/

#header-ghost{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 700px;
    background-color: rgba(255,255,255,0.6);
    background: linear-gradient(rgba(255,255,255,1.0), rgba(255,255,255,0.0));
    z-index: -1;
}

.header{
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
}

.header ul{
    position: absolute;
    list-style-type: none;
    bottom: 15%;
    left: 20%;
}
.header li{
    display: inline;
    padding-right: 3%;
}
.header-link:hover {
    text-decoration: none;
}

.header-link img {
    width:3%;
    transition: all .1s ease-in-out; 
}
.header-link img:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.no-side-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.no-right-padding {
    padding-right: 0 !important;
}
.no-bottom-margin {
    margin-bottom: 0;
}

.top-spacer {
    margin-bottom: 35px;
}

/*--------------- Index page panels ---------------*/

.panel-blue,.panel-brag,.panel-sprs,.label-blue {
    border-style: solid;
    border-width: thin;
    border-color: var(--team-blue);
    box-shadow: 3.182pt 3.182pt 5pt rgba(0,0,0,0.25);
    background-color: white;
}

.panel-blue {
    border-radius: var(--box-radius);
}

.panel-blue > .panel-heading {
    background-color: rgb(0,102,179);
}

/* override some bootstrap settings */
.panel-heading {
    border-bottom: 0;
}

.index-heading {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    letter-spacing: 0.13em;
    font-size: 17pt;
    color: white;
    border-top-left-radius: var(--box-radius);
    border-top-right-radius: var(--box-radius);
    text-align: center;
    padding-top: 8pt;
    padding-bottom: 8pt;
}

.panel-blue > .panel-body {
    padding: 0;
    border-bottom-left-radius: var(--box-radius);
    border-bottom-right-radius: var(--box-radius);    
}

.panel-body iframe {
    display: block !important;
    border-width: 0;
    padding: none;
    width: 100%;
    border-bottom-left-radius: var(--box-radius);
    border-bottom-right-radius: var(--box-radius);    
}

.blog-image-box {
    background: black;
    margin-bottom: 20px;
}
.blog-image-box img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 390px;
    -o-object-fit: contain;
    object-fit: contain;
}
.index-blog-text {
    height: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}    

/* for iPhone */
#cal-panel-div {
    overflow-y: auto;
    -webkit-overflow-scrolling:touch !important;
}
#cal-panel-div iframe {
    min-width: 100%;
    width: 100px;
}

.panel-brag {
    border-radius: var(--box-radius);
    z-index: 1;
    position: relative;
    margin-bottom: 0;
}
.panel-brag > img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: var(--box-radius);
}

.label-blue {
    border-radius: 0 0 var(--box-radius) var(--box-radius);
    font-style: italic;
    display: inline-block;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 20px;
}

/*--------------- Sponsor bar and page 2020 ----- */
/* do not use "sponsor". that can trip some ad blockers. */

.sprs-image {
    width: 100%;
}
@media (min-width: 500px) {
    .big-sprs {
  display: block;
    }
    .small-sprs {
  display: none;
    }
}
@media (max-width: 499px) {
    .big-sprs {
  display: none;
    }
    .small-sprs {
  display: block;
    }
}

.spr-first-section {
    margin-top: 3em;
    margin-bottom: 1.5em;
}

/* WARNING: order of the vendor-extensions matter. 
   Last one that matches wins. */
.panel-sprs {
    border-radius: var(--box-radius);
    border-style: solid;
    border-width: thin;
    box-shadow: 3.182pt 3.182pt 5pt rgba(0,0,0,0.25);
    background-color: white;
    
    z-index: 1;
    position: relative;
    margin-bottom: 0;
}

/*--------------- Nav bar ---------------*/

.navbar-ligerbots {
    background-color: rgb(0,102,179);
    border-radius: var(--box-radius) var(--box-radius) 0 0;
    margin-bottom: 0px;
    min-height: 32px !important;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.25);
}

.nav>li>a {
    /* experiment #2 - less jarring menu hover */
    transition: all 0.1s;
}

/* fix dropdowns changing to white while selected */
.nav li a:focus, .nav li a:hover, .dropdown.open a {
    color: black;
}

/* experiment #3 - nice dropdown menu transitions */
@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
.dropdown.open .dropdown-menu {
    animation: fade-in 0.2s ease-in-out 0s forwards;
}

.dropdown-menu {
    border-radius: 0 0 var(--box-radius) var(--box-radius);
}

.navbar-toggle-ligerbots {
    border-color: white;
    border-radius: 0px;
    float: left;
    margin-left: 30px;
}

.navbar a {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 0.03em;
    font-size: 13.5pt;
}

.navbar a:hover { 
    background-color: white;
    color: black;
}

.nav-stacked>li+li {
    margin-top: 0;
}

/* Hamburger menu line */
.icon-bar-ligerbots {
    background-color: white;
}

@media (min-width: 1101px) {
    /* justify the menu bar buttons; only needed on the non-hamburger menu */

    .navbar-nav {
        display: table;
        width: 100%;
        margin: 0;
    }
    .navbar-nav > li {
        display: table-cell;
        text-align: center;
        float: none;
    }
}

/* This media query changes the nav collapse point */
/* From http://www.bootply.com/120604 */
@media (max-width: 1100px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
  margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
    display:block !important;
    }
}

/*--------------- Misc ---------------*/

.glyphicon {
    top: 0px;
    font-size: 17px;
}

.text-margins {
    margin-left: 20px;
    margin-right: 20px;
}

@media (min-width: 768px) {
    .side-margins {
        margin-left: 20px;
        margin-right: 20px;
    }
    .wide-side-margins {
        margin-left: 35px;
        margin-right: 35px;
    }
}

.bottom-margin {
    margin-bottom: 20px;
}
.bottom-padding {
    padding-bottom: 20px;
}

.side-padding {
    padding-left: 15px;
    padding-right: 15px;
}

.blog-row p{
    text-align: justify;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.read-more img {
    display: inline-block;
    padding-left: auto;
    margin-right: auto;
    height: 2.5em;
}
.read-more {
    margin-bottom: 15px;
    text-align: center; 
}

/*--------------- Index page text elements ---------------*/

.announce-row {
    text-align: center;
}

.announce {
    padding-top: 3%;
}
.announce-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 16pt;
    line-height: 22pt;
    letter-spacing: 0.06em;
    text-align: center;
}

.announce-date {
    font-style: italic;
}

.calendar{
    border-width: 0;
    width: 100%;
    height: 800px;
    frameborder: 0;
    scrolling: no;
}

#ligerbots-login{
    background-image: url("../images/background.jpg");
}

/*--------------- Blog entries ---------------*/

.blog-title{
    font-size: 175%;
    font-weight: bold;
    margin-top: 0.5em;
}

.blog-date{
    font-size: 120%;
    margin-bottom: 0.5em;
}

.blog-feed{
    font-size: 130%;
    text-align: center;
}
.blog-feed img{
    margin: 5px;
}

.blog-newer{
    font-size: 130%;
    float: left;
}
.blog-older{
    font-size: 130%;
    float: right;
}

.blog-content figure {
    max-width: 100%;
}
.blog-content img {
    height: auto !important; 
    max-width: 100%;
}
.blog-content iframe {
    max-width: 100%;
}
.blog-content figcaption {
    margin-bottom: 1.5em;
    font-weight: 400;
    font-style: italic;
}

/*--------------- Carpool page ---------------*/

.carpool-delete {
    text-align: right;
    float: right;
}

.carpool {
    background-color: white;
    border-width: 0;
    width: 100%;
    height: 800px;
    frameborder: 0;
    scrolling: no;
}

/*--------------- Facebook page ---------------*/
.facebook-entry
{
    float:left;
    width: 150px; 
    height:280px;
    margin-right: 30px;
    font-size: 10.5pt;
    line-height: 16pt;
}
.facebook-entry img {
    width: 150px;
    height: 225px;
    border: 1px solid black;
}
.facebook-entry .name
{
    float: left;
    width: 70%;
}
.facebook-entry .exec
{
    color: red;
}
.facebook-entry .north
{
    float: right;
    color: rgb(208,78,29);
    width: 30%;
    text-align: right;
}
.facebook-entry .south
{
    float: right;
    color: rgb(0,102,179);
    width: 30%;
    text-align: right;
}

/*--------------- Default page elements ---------------*/
.notindex-margin {
    margin-left: 6em;
    margin-right: 6em;
}

.notindex-title {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 20pt;
    line-height: 26pt;
    letter-spacing: 0.1em;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: white;
    background-color: rgb(208,78,29);
    display: inline-block;
    border-radius: var(--box-radius);
}

.level4-heading {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18pt;
    line-height: 26pt;
    letter-spacing: 0.04em;
    text-align: center;
    color: rgb(0,102,179);
    margin-top: 34pt;
    margin-bottom: 14pt;
}

.image-border-blue img {
    border-radius: var(--box-radius);
    border-style: solid;
    border-width: thin;
    box-shadow: 3.182pt 3.182pt 5pt rgba(0,0,0,0.25);
    background-color: transparent;
    border-color: var(--team-blue);
}

/* the negative margin seems to be important */
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-right: -6px;
}

